.container-respuesta {
  background-color: #F7F7F7;
  padding-bottom: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40%;
}

.container-respuesta .container-body-respuesta {
  position: relative;
  max-width: 90%;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px auto;
  margin-top: 29px;
  box-sizing: border-box;
}

.respuesta-list {
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.respuesta-item {
  margin-bottom: 10px;
}

.respuesta-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  position: relative; /* Agregamos position relative */
  background: #f8f9fa;
}

.respuesta-line {
  position: absolute; /* La hacemos position absolute */
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  background-color: #ff7575; /* Mismo color que el bot칩n */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: -1px; /* Compensaci칩n del borde de 1px de la respuesta-card */
}


.respuesta-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

.nombre-usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre-usuario p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 10px;
}

.btn-expandir {
  background: none;
  border: none;
  color: #12aef1;
  cursor: pointer;
  margin-left: auto;
}

.btn-expandir:hover {
  opacity: 0.9 /* Efecto hover */
}

.respuesta-detalle {
  margin-top: 10px;
  margin-left: 10px;
}

.btn-editar {
  background-color: #6C00AE;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-editar:hover {
  opacity: 0.9;
}

.btn-guardar {
  background-color: #6C00AE;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-guardar:hover {
  opacity: 0.9;
}

.btn-descargar {
  cursor: pointer;
  margin-right: 12px;
  width: 24px; /* Ajusta el tama침o del icono */
  height: auto;
  margin-left: 1050px; /* Espacio entre el nombre del usuario y el icono */
}

.btn-descargar:hover {
  opacity: 0.8; /* A침ade un efecto al pasar el cursor */
}
